<h1>Ruby summary</h1>

<h4>Interpolation</h4>
<p>
  To interpolate string use <code>"#{ variable }"</code>
</p>

<h4>Arrays</h4>
<h5>Declaration</h5>
<p>
  Arrays are declared with the square bracket syntax <code>arr = []</code>
</p>
<h5>Add elements to the end of an array</h5>
<p>
  To add an element to the end of the array use the <code>push</code> method
</p>
<p>
  <em>Example:</em>
</p>
<code>
  arr.push(1)
  <br>
  => [1]
</code>
<h5>Iterate through an array using <code>each</code></h5>
<code>arr.each do | i | <br>
  &nbsp&nbsp some action...  <br>
  end
</code>

<h4>Hash</h4>
<p>
  To declare a hash use the squiggly bracket notation <code>{}</code>
</p>
<p>
  <em>Example</em>
</p>
<code>
  new_hash = {}
</code>
